* {
  margin: 0;
  padding: 0;
}

.center {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formfiled-title {
  display: flex;
  justify-content: center;
}

.formfiled-form {
  display: flex;
  justify-content: center;
}
